<h1> Message Form </h1>
<form method = "POST" action = "/new"> 
  <label for = "name"> Enter name: </label>
  <input type = "text" id = "name" name = "userName">

  <label for = "message"> Enter message: </label>
  <input type = "text" id = "message" name = "userMessage">

  <button type = "submit"> Submit </button>
</form>