<h1> <%= title %> </h1>
  <body>
    <% messages.forEach((message) => { %>
      <p> <%= message.user %> <br> <%= message.added %> <br> <%= message.text %> </p>
      <
    <% }) %>
  </body>
<a href = "/new"> Post a message </a>